In [4]:
c = 0
c =5/2
type(c)

float

In [9]:
name, rollno, age = 'python', 123, 23.4


print(type(age), type(rollno), type(age))

<class 'float'> <class 'int'> <class 'float'>

In [11]:
a, b = 10, 20
print(a,b)
a,b =b,a
print(a,b)

10 20
20 10

In [12]:
pow(2,5)

32

In [1]:
#MEMBERSHIP OPERATORS - not in ,in
                        
5 not in [1,2,3,4]

True

In [2]:
'abc' is 'abc'

True

In [3]:
'abc' not in 'cde'

True

In [ ]:
# In python we are using Dictionary like Switch

In [7]:
for i in "hi":
    print(i,end=' ')

h i

In [8]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [13]:
print(1,2,sep=',')
print(3,4,sep=';')

1,2
3;4

In [14]:
print(3,sep=";")

3

In [16]:
print(1,2,sep=",",end="*")
print(3,sep=";")

1,2*3

In [17]:
input("enter value:")

enter value:20

'20'

In [18]:
"1"+"2"

'12'

In [19]:
1+int("2")

3

In [3]:
data=input() # "1 2 3 4"
count=0
for char in data.split(" "):
    count+=1
    #print(char)
print(count)

1 2 3
3

In [4]:
data=input()
len(data)

1 2 3 4

7

In [5]:
data=input()
len(data.split())

1 2 3 4

4

In [6]:
for i in 1,2,3:
    print(i)
print(i)

1
2
3
3

In [12]:
sum=0
for i in range(1,6):
    sum=sum+i
print(sum)

15

In [13]:
sum=0
for i in range(1,6):
    if i%2==0:
        sum=sum+i
print(sum)

6

In [1]:
s=0
for i in 1,2,3,4,5:
    s=s+i
print(s)

15

In [4]:
data=input()
s=0
for i in data.split(","):
    s=s+int(i)
print(s)

1,2,3
6

In [22]:
# Usage of map

data=input()
values=data.split(",")
int_values=list(map(int,values))
sum(int_values)

1,2,3

6

In [28]:
data=input()
values=data.split("+")
int_values=list(map(int,values))
print(max(int_values))
print(min(int_values))

1+2+3
3
1

In [ ]:
tc=int(input())
s=input()
s=s.split("+")
s1=int(s1[0])
s2=int(s2[1])
s3=int(s3[2])
for i in range(len(s)):

### Python Data Structures

In [ ]:
# stores different type of structures like tuples,lists,strings

In [16]:
li=[1,'abc',45.09]
li

[1, 'abc', 45.09]

In [ ]:
# list is a mutable- we can change the values

In [5]:
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [27]:
li.append(88)
li

[1, 'abc', 34, 88]

In [28]:
li.insert(2,34)
li

[1, 'abc', 34, 34, 88]

In [29]:
# updating

li[3]=32
li

[1, 'abc', 34, 32, 88]

In [30]:
li.pop()

88

In [31]:
li

[1, 'abc', 34, 32]

In [33]:
li.remove(34)

In [34]:
li

[1, 'abc', 32]

In [35]:
li.clear() # removes the values in list

In [36]:
li

[]

In [37]:
li1=[1,2,3,4]
li1

[1, 2, 3, 4]

In [38]:
del  li1   # del removes the list

In [39]:
li1

NameError: name 'li1' is not defined

In [41]:
li=[1,2,3,4,5,65,34,21,23]
li.sort()
li

[1, 2, 3, 4, 5, 21, 23, 34, 65]

In [42]:
li.sort(reverse=True)

In [43]:
li

[65, 34, 23, 21, 5, 4, 3, 2, 1]

In [46]:
li.reverse()
li

[1, 2, 3, 4, 5, 21, 23, 34, 65]

In [47]:
#copy

cli=li
print(cli,li)

[1, 2, 3, 4, 5, 21, 23, 34, 65] [1, 2, 3, 4, 5, 21, 23, 34, 65]

In [48]:
cli.append(354)

In [49]:
cli

[1, 2, 3, 4, 5, 21, 23, 34, 65, 354]

In [50]:
li

[1, 2, 3, 4, 5, 21, 23, 34, 65, 354]

In [51]:
li.pop()
li

[1, 2, 3, 4, 5, 21, 23, 34, 65]

In [53]:
cli2=li.copy()
print(cli2,li)

[1, 2, 3, 4, 5, 21, 23, 34, 65] [1, 2, 3, 4, 5, 21, 23, 34, 65]

In [54]:
print(cli2,li)

[1, 2, 3, 4, 5, 21, 23, 34, 65] [1, 2, 3, 4, 5, 21, 23, 34, 65]

In [55]:
li.extend(cli2)
li

[1, 2, 3, 4, 5, 21, 23, 34, 65, 1, 2, 3, 4, 5, 21, 23, 34, 65]

In [60]:
li1=[1,2,3]
li2=[4,4,6]
li1.append(li2)

In [61]:
li1

[1, 2, 3, [4, 4, 6]]

In [65]:
li1[3]

[4, 4, 6]

In [66]:
li1[3][2]

6

In [67]:
li=[1,2,3,4,5,6,7,7,8,8]
li

[1, 2, 3, 4, 5, 6, 7, 7, 8, 8]

In [69]:
li.count(7)

2

In [4]:
li=[1,2,3,4,5,6]
li

[1, 2, 3, 4, 5, 6]

In [5]:
li3=[8,9,10]
li3=li3[::-1]
for i in li3:
    li.insert(1,i)
#print(li3)

In [6]:
li

[1, 8, 9, 10, 2, 3, 4, 5, 6]

In [7]:
print(sum(li),max(li),min(li))

48 10 1

In [8]:
# creating empty list

l=list()
l

[]

In [ ]:
tc=int(input())
for i in range