In [1]:
s="python programming"
s.islower()

True

In [3]:
def check(s):
    if s[0].isupper() and s[-1].isupper():
        return True
    else:
        return False
check("Python ProgramminG")

True

In [5]:
s="ram Lakshman"
s=s.upper()
print(s)

RAM LAKSHMAN

In [6]:
number="12345"
print(number.isdigit())

True

In [8]:
def identifyme(s):
    if s.isalpha():
        return "Name"
    elif s.isdigit():
        return "numbers"
    else:
        return "others"
identifyme("kalyani123")

'others'

### taken the values from the user gives 0 and find and print the minimum and maximum and  sum of numbers in given values

example:
* "sai"
* 10
* "ram"
* 20
* 5
* 0

In [1]:
li=[]
while(True):
    s=input()
    if s=='0':
        li.append(0)
        break
    if s.isdigit():
        li.append(int(s))

print(li)
print('minimum',min(li),'maximum',max(li),'sum',sum(li))

sai
10
ram
klyani
kalyani
20
10
0
[10, 20, 10, 0]
minimum 0 maximum 20 sum 40

In [3]:
name='p y t h o n'
s=name.split()
"".join(s)

'python'

In [3]:
students=[('sai',"10,20,30,40"),('lakshmi',"10,20,30")]


for student in students:
    name=student[0]
    marks_string=student[1] # "10,20,30,40"
    list_string=marks_string.split(',')
    total_marks=0
    for subject_marks in list_string:
        total_marks+=int(subject_marks)
    print(name,total_marks)

sai 100
lakshmi 60

In [10]:
paragraph='xyz abc mnp "asdf dfss" asd "fdas asdsdaff"'
sentences=paragraph.split('"')
print(sentences)
for sentence in sentences:
    if len(sentence)>0:
        if sentence.endswith(' '):
            for word in sentence.split():
                print(word)
        else:
            print('"'+sentence+'"')

['xyz abc mnp ', 'asdf dfss', ' asd ', 'fdas asdsdaff', '']
xyz
abc
mnp
"asdf dfss"
asd
"fdas asdsdaff"

In [16]:
names=['python','ram','syam','lakshmi']
for i in names:
    if not (i.endswith('i') or i.endswith('u')):
        print(i)

python
ram
syam

In [1]:
name="python"
for char in name:
    print(char)

p
y
t
h
o
n

In [2]:
myTuple=(1,2,3,4,3,5)
myTuple.index(3)

2

In [4]:
myTuple=(1,2,3,1,2,3)
myTuple.index(2,3)

4

In [5]:
myTuple=(1,2,3,'4','5')
for each in myTuple:
    print(each,type(each))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'str'>
5 <class 'str'>

In [7]:
rollno="13A85A0504"
s=0
for i in rollno:
    if i.isdigit():
        s=s+int(i)
print(s)

26

In [10]:
s=input().split("+")
total=0
for i in s:
    total+=int(i)
print(total)

1+2+3+4
10

In [28]:
s=input()
rev=""
for i in range(len(s)-1,-1,-1):
    rev=rev+s[i]
print(rev)

kalyani
inaylak

In [36]:
s=input().split()
for name in s:
    if len(set(name))!=len(name):
        print(name)

ramu ravi akash
akash

In [39]:
s=input()
s1=s.split('"')
print(s1)
for i in s1:
    if len(i)>0:
        if i.endswith(' '):
            for j in i.split():
                print(j)
        else:
            print('"'+i+'"')

abc xyz "kalyani 123" 123 "123 456"
['abc xyz ', 'kalyani 123', ' 123 ', '123 456', '']
abc
xyz
"kalyani 123"
123
"123 456"

In [7]:
li=[]
t=int(input())


for i in range(t):
    l=int(input())
    s=input()
    pattern=input()
    if l==len(s):
        for word in s.split():
            for char in word:
                if char.isupper():
                    li.append(char) #WTG
            if li==pattern:
                print(word)
            else:
                print("not matched")

1
2
kalyan kalyanoo kalia
kr